* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav {
  width: 450px;
  padding: 0 30px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  color: rgb(11, 146, 209);
}

.logo_div {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.logo_div h3 {
  position: relative;
  left: 60px;
  font-size: 30px;
  color: rgb(11, 146, 209);
}

.logo_div img {
  height: 90px;
}

.header {
  width: 1500px;
  padding: 0px 40px;
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: rgb(217, 237, 255);
  border-radius: 10px;
  color: white;
}

.main_container {
  max-width: 1280px;
  height: 90vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1,
p,
a,
h2,
h3 {
  color: rgb(11, 146, 209);
}
