* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("src/assets/eugene-golovesov-VtE5MXMw9rk-unsplash2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  height: 90vh;
}

.sub_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  height: 120px;
  width: 900px;
}

.sub_container_p {
  background-color: rgba(255, 255, 255, 0.916);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 830px;
  border-radius: 15px;
  padding: 10px 30px;
}

.bottom_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 1280px;
  height: 40px;
  border-radius: 15px;
  padding: 0 60px;
  background-color: rgba(9, 53, 116, 0.721);
}

.bottom_text p {
  color: white;
  font-size: 15px;
}

.sub_container_p p {
  color: rgb(11, 146, 209);
  font-size: 17px;
}
