* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.workout_cards_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px 40px;
  min-height: 90vh;
  background-color: rgb(11, 71, 114);
  width: 100%;
}

.workout_card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
}

.workout_card img {
  border-radius: 12px;
  width: 100%;
}

.workouts_page {
  min-height: 90vh;
  width: 1520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

h1 {
  color: white;
}
