#sub_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
